// importo le variabili
@import "variables";

// regole generali
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #58402c;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.box-contenitore {
  margin: 0px 100px;
}

.metodi-tradizionali, .metodi-teambit, .esperienze {
  background: $secondarycolor;
}

// regole bottoni pagina
button {
  @include bottoneRadius;
}

.bottoni {
  align-items: center;
  padding-bottom: 20px;
  button {
    @include bottoneBlu;
    &:hover {
      cursor: pointer;
      background: $bluescuro;
    }
  }
  label {
    color: $grigino;
    font-size: $fontsmall;
    padding: 0 5px;
  }
  img {
    padding-right: 5px;
  }
}

// header
header {
    @include positionFixed;
    background: $primarycolor;
    border-bottom: solid 1px $grigio;
    width: 100%;
  nav {
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: calc(100% - 200px);
    h3 {
      padding-left: 10px;
      font-weight: lighter;
      font-size: $fontNav;
      }
  }
  .menu {
    align-items: center;
    ul {
      li {
      padding-right: 50px;
      font-size: $fontHeader;
      font-weight: bold;
      a:hover {
        color: $bluecolor;
        }
      }
      .padre-drop {
        position: relative;
        &:hover {
          .dropdown {
            display: block;
          }
        }
        .dropdown {
          display: none;
          position: absolute;
          top: 25px;
          left: 0px;
          background: white;
          padding: 10px 20px 0px 10px;
          border: solid 1px lightgrey;
          border-radius: 5px;
          li {
            padding-right: 0;
            padding-bottom: 10px;
          }
        }
      }

    }
    button {
      border: solid 1px $bluecolor;
      background: $primarycolor;
      &:hover {
        cursor: pointer;
        background: $bluecolor;
        span {
          color: $primarycolor;
        }
      }
      img {
        padding-right: 5px;
      }
      span {
        color: $bluecolor;
        font-weight: bold;
      }
    }
  }
}

// corpo centrale pagina
main {
  margin-top: 75px;
  h1, h3, h4, h5 {
    line-height: 1.5;
  }
}
// sezione jumbotron
.jumbotron {
  padding: 100px 0;
  h1 {
    font-size: $fontH1;
  }
  h4 {
    font-size: $fonth4;
    font-weight: lighter;
    padding: 30px 0;
  }
  a {
    font-size: $fontsmall;
  }
  .img-jumbo {
      width: 50%;
  }
}

// sezione metodi-tradizionali
.metodi-tradizionali, .metodi-teambit {
  text-align: center;
  h3, h5 {
    line-height: 1.5;
  }
  h3 {
    font-size: $fontH3;
    margin: 0 250px;
    line-height: 1.5;
  }
  .row-metodo {
    padding: 60px 0;
  }
  .centrato {
    justify-content: center;
  }
  .container-metodo {
    padding: 100px 0;
  }
  .container-info-metodi{
    width: 200px;
    margin: 0 40px;
    flex-direction: column;
    align-items: center;
    h5 {
      font-size: $fontH5;
      font-weight: lighter;
      padding-top: 20px;
    }
  }
  .img-metodi {
    height: 105px;
    width: 140px;
    img {
      width: auto;
      height: 100%;
    }
  }
  .coniglio {
    h3 {
      padding-top: 90px;
    }
    img {
      width: 25%;
    }
  }

}

.metodi-tradizionali {
  .container-metodo {
    border-bottom: solid 1px $grigio;
  }
}

// sezione feedback, surveys, reviews, praise
.feedback, .reviews {
  padding-top: 100px;
  padding-right: 150px;
  .sez-testo {
    right: 60px;
    @include fontTestiImg;
  }
  .img-left {
    @include imgRelativeLeft;
  }
}

.surveys, .praise {
  padding-top: 100px;
  padding-left: 150px;
  .sez-testo {
    left: 60px;
    @include fontTestiImg;
  }
  .img-right {
    @include imgRelativeRight;
  }
}

.praise {
  padding-bottom: 50px;
}

// esperienze
.esperienze {
  h2, p {
    line-height: 1.5;
  }
  h2 {
    text-align: center;
    font-size: $fontH2;
    padding: 60px 0;
  }
  .contenitore-esperienza {
    width: 46%;
    margin: 0px 27%;
    background: white;
    border: solid 1px $grigio;
    padding: 20px 35px;
    p {
      font-size: $fontTestimonianza;
    }
    .founders {
      align-items: center;
      img {
        width: 40px;
        margin-right: 8px;
      }
      .name-founders {
        line-height: 1.5;
        span {
          font-size: $fontsmall;
          color: $bluecolor;
        }
        h6 {
          font-weight: lighter;
        }
      }
    }
  }
  .sign-up {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    a {
      font-size: $fontsmall;
      &:hover {
        color: #30488f;
      }
    }
  }
}

// footer
footer {
  padding: 100px;
  h5 {
    font-size: $fontH5;
  }
  .logo-footer {
    flex-basis: calc(100% - 70%);
    // margin-right: 50px;
    img {
      width: 125px;
      align-self: flex-start;
    }
    h5 {
      padding-left: 18px;
      span {
        color: $bluecolor;
      }
    }
  }
  .container-lista-footer {
    flex-basis: calc(100% - 30%);
    padding-left: 60px;
    .lista-footer {
      flex-basis: calc(100% / 4);
      ul {
        padding-top: 20px;
        li {
          font-size: $fontsmall;
          padding-bottom: 20px;
          a:hover {
            color: #30488f;
          }
        }
      }
    }
  }

}
