// colori
$primarycolor: white;
$secondarycolor: #FFE7D2;
$tertiarycolor: #58402c;
$bluecolor: #30488f;
$bluescuro: #233569;
$grigio: grey;
$grigino: #bdb5af;

//font-size
$fontNav: 21px;
$fontHeader: 13px;
$fonth4: 20px;
$fontH1: 50px;
$fontsmall: 13px;
$fontH3: 25px;
$fontH5: 17px;
$fontH2: 37px;
$fontTestimonianza: 15px;

@mixin positionFixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin bottoneRadius {
  padding: 8px 15px;
  border-radius: 6px;
}

@mixin bottoneBlu {
  background: $bluecolor;
  span {
    color: $primarycolor;
    font-weight: bold;
  }
}

@mixin imgRelativeLeft {
  width: 770px;
  height: auto;
  position: relative;
  left: -90px;
  z-index: -1;
}

@mixin imgRelativeRight {
  width: 770px;
  height: auto;
  position: relative;
  right: -90px;
  z-index: -1;
}

@mixin fontTestiImg {
  position: relative;
  flex-direction: column;
  z-index: -1;
  h3 {
    font-size: $fontH3;
  }
  h4 {
    font-size: $fonth4;
    font-weight: lighter;
    padding-top: 20px;
  }
  a {
    padding: 35px 0;
    font-size: $fonth4;
    color: $bluecolor;
    i {
      color: $bluecolor;
    }
  }
  img {
    max-width: 270px;
    display: block;
    align-self: center;
  }
}
